h1 {
  font-weight: bold;
  text-align: center;
  font-family: "Goudy Old Style", serif;
  font-size: 4em;
  color: #ffffff; 
}

h3 {
  text-align: center;
  font-family: "Calibri", sans-serif;
  color: #ffffff;
}

body {
  font-size: 100%
  font-family: "Calibri", sans-serif;
}

.top {
  background-color:  #007e80;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}

p {
  font-family: "Calibri", sans-serif;
  font-size: 1.5em;
}

.posting {
  margin-left: 300px;
  margin-right: 300px;
}

.image {
  margin-left: 50px;
  margin-right: 25px;
  max-width: 300px;
  float: left;
}

.date {
  font-style: italic;
  font-weight: bold;
}