h1 {
  font-weight: bold;
  text-align: center;
  font-family: "Goudy Old Style", serif;
  font-size: 4em;
  color: #ffffff; 
}

h2 {
  text-align: center;
  font-family: "Calibri", sans-serif;
} 
 
h3 {
  text-align: center;
  font-family: "Calibri", sans-serif;
  color: #ffffff;
}

body {
  font-size: 100%
  font-family: "Calibri", sans-serif;
}

.top {
  background-color:  #007e80;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}

.posting {
  margin-left: 300px;
  margin-right: 400px;
  font-family: "Calibri", sans-serif;
  font-size: 1.25em;
}

.image {
  margin-left: 50px;
  margin-right: 25px;
  width: 225px;
  float: left;
}

.date {
  font-style: italic;
  font-weight: bold;
}

.sidebar {
  width: 250px;
  float: right;
  background-color: #e5ffff;
  margin-right: 50px;
  margin-left: 25px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Calibri", sans-serif;
}

.about {
  font-size: 1.25em;
}