.header {
  padding: 10px;
  height: 150px;
  border-bottom: 1px solid #ccc;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
}

h1 {
  font-weight: bold;
  font-family: "Goudy Old Style", serif;
  font-size: 4em;
  color: #007e80;
  text-align: center;
}

h2 {
  font-family: "Calibri", sans-serif;
  text-align: left;
  background-color: #007e80;
  color: white;
}

h3 {
  text-align: center;
  font-family: "Calibri", sans-serif;
  color: #007e80;
}

body {
  font-size: 100%
  font-family: "Calibri", sans-serif;
}

.posting {
  margin-left: 250px;
  margin-right: 250px;
  font-family: "Calibri", sans-serif;
  font-size: 1.25em;
}

.date {
  text-align: right;
  color: black;
  font-style: italic;
  font-size: 1em;
}

.sidebar1 {
  width: 200px;
  float: left;
  background-color: #e5ffff;
  margin-left: 25px;
  font-family: "Calibri", sans-serif;
}

.sidebar2 {
  width: 200px;
  float: right;
  background-color: #e5ffff;
  margin-right: 25px;
  margin-left: 50px;
  font-family: "Calibri", sans-serif;
}

em {
  font-weight: bold;
}
.clouseau {
  width: 200px;
}

.sidebar1 p {
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar2 ul {
  font-size: 1em;
  padding-left: 25px;
  padding-right: 10px;
}

.footer {
  text-align: center;
  font-size:.75m;
  font-style: italic;
}
